services:
  weatherdashboard:
    container_name: weatherdashboard
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    env_file:
      - .env
