.locationWidget {
    &:not(:last-child) {
        border-bottom: 1px solid var(--quiet);
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .measurements {
        columns: 2;
        margin-bottom: 1rem;
    }

    p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: center;
        margin-bottom: 0.2rem;
    }
}